<html>
<body>
<form id="addForm" accept-charset="UTF-8">
    <div>
        <label>用户名:</label>
        <input id='name' type="text" name="name"><br>
    </div>
    
    <div>
        <label>中文名:</label>
        <input id='name_cn' type="text" name="name_cn"><br>
    </div>
    
    <div>
        <label>手机号:</label>
        <input id='mobile' type="text" name="mobile"><br>
    </div>
    
    <div>
        <label>邮箱号:</label>
        <input id='email' type="text" name="email"><br>
    </div>
    
    <div>
        <label>角色:</label>
        <select id='role' name="role">
            <option value="admin">管理员</option>
            <option value="common_user">普通用户</option>
        </select><br>
    </div>
    
    <div>
        <label>状态:</label>
        <select id='status' name="status">
            <option value="Normal">正常</option>
            <option value="Close">禁用</option>
        </select><br>
    </div>
    
    <div>
        <label>密码:</label>
        <input id='password' type="password" name="password"><br>
    </div>
    
    <div>
        <label>重复密码:</label>
        <input id='repwd' type="password" name="repwd"><br>
    </div>
    
    <div>
        <button id='updatebtn' type='submit'>更新信息</button>
        <button>退出</button>
    </div>
</form>

<div>
    {% if error %}
        <p style="color:red">{{ error }}</p>
        {% endif %}
</div>
<script src="/static/jquery/jquery-3.2.1.min.js"></script>
<script>
$('#addbtn').on('click',function(){
    var str = $('#addForm').serialize()
    $.post("/register",str,function(data){
        console.log(data)
        data = JSON.parse(data)
        console.log(data)
        if (data['code'] == 0){
            location.href="/userlist"
        }else{
            $('#errmsg').html(data['errmsg'])
        }
    })
    return false
})
</script>
</body>
</html>
