<div>
    {% if user %}
    <form action='/update' method="POST" accept-charset="UTF-8">
        <input type="hidden" id='id' name="id" value="{{ user.id }}">
        <div>
            <label>用户名：</label>
	    <input id="name" type="text" name="name" value="{{ user.name }}">
        </div>
        <div>
            <label>中文名：</label>
            <input id="name_cn" type="text" name="name_cn" value="{{ user.name_cn }}">
        </div>
        <div>
            <label>手机号：</label>
            <input id="mobile" type="text" name="mobile" value="{{ user.mobile }}">
        </div>
        <div>
            <label>邮箱号：</label>
            <input id="email" type="text" name="email">
        </div>
        <div>
            <label>密码：</label>
            <input id="email" type="password" name="password">
        </div>
        <div>
            <label>重复密码：</label>
            <input id="email" type="password" name="repwd">
        </div>
        {% if role=="admin" %}
        <div>
	    <label>角色：</label>
	    <select id="role" name="role">
                <option>普通用户</option>
                <option>管理员</option>
            </select>
        </div>
        <div>
            <label>状态：</label>
            <select id="status" name="status">
                <option>正常</option>
                <option>禁用</option>
            </select>
        </div>
        {% endif %}
        <input type="submit" value="更新用户">
    </form>
    {% endif %}
    
    {% if error %}
    <p style="color:red">{{ error }}</p>
    {% endif %}
</div>

<script src="/static/jquery/jquery-3.2.1.min.js"></script>
<script>
/*通过ID获取数据并渲染更新表单*/
var id = {{ uid }}
var url = "getbyid?id="+id
$.getJSON(url,function(data){
    console.log(data)
    if (data['code'] == 0){
        data = data['result']
        $('#id').val(data['id'])
        $('#name').val(data['name'])
        $('#name_cn').val(data['name_cn'])
        $('#mobile').val(data['mobile'])
        $('#email').val(data['email'])
        $('#role').val(data['role'])
        $('#status').val(data['status'])
    }else{
        $('#errmsg').html(data['errmsg'])
    }
})

$('#updatebtn').on('click',function(){
    var str = $('#updateForm').serialize()
    $.post("/update",str,function(data){
        //console.log(data)
        data = JSON.parse(data)
        //console.log(data)
        if (data['code'] == 0){
            {% if info %}
                role = "{{ info.role }}"
                //alert(role)
                if (role == "admin"){
                    location.href="/userlist"
                }else{
                    location.href="/"
                }
            {% endif %}
         }else{
             $('#errmsg').html(data['errmsg'])
         }
    })
    return false
})
</script>
