<form action='/user/register' method="POST">
    <label for="username">用户名:</label>
    <input type="text" name="username"><br>
    <label for="password">密码:</label>
    <input type="password" name="password"><br>
    <label for="password">重复密码:</label>
    <input type="password" name="repeatpass"><br>
    <label for="email">邮箱:</label>
    <input type="text" name="email"><br>
    <label for="mobile">手机:</label>
    <input type="text" name="mobile"><br>
    <input type="submit" name="subscribe" value="用户注册">
    <input type="submit" name="subscribe" value="退出">
</form>
