<table border='1'>
	<thead>
		<tr>
		<td>用户名</td>
		<td>手机号</td>
		<td>邮箱</td>
		<td>操作</td>
	        </tr>
	</thead>

	<tbody>
		{% for user in users %}
	<tr>
		<td>{{ user.name }}</td>
		<td>{{ user.email }}</td>
		<td>{{ user.mobile }}</td>
		<td>
			<a href="/user/moduser?id={{ user.id }}">更新</a>
			<a href="/user/deluser?id={{ user.id }}">删除</a>
	        </td>
	</tr>
		{% endfor %}
	</tbody>
</table>
<br>
<form action='/user/register'>
	<input type="submit" name="subscribe" value="注册新用户">
</form>
