{% extends "base.html" %}
{% block breadcrumb %}
创建服务器
{% endblock %}

{% block main %}

<div class="col-sm-12">
    <div class="ibox-content">
        <div class="" id="content_start">
            <form id="addServerForm" method="post" class="form-horizontal" action="">
                <!--<input type="hidden" name="cabinet_id" id="cabinet_id">-->
                <h3>基本</h3>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="hostname">主机名</label>
                    <div class="col-md-9">
                        <input type="text" name="hostname" maxlength="128" class="form-control" placeholder="主机名" title="* required" required id="hostname" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label" for="inter_ip">内部IP</label>
                    <div class="col-md-9">
                        <input type="text" name="inter_ip" maxlength="128" class="form-control" placeholder="内部IP" title="* required" required id="inter_ip" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="outer_ip">外部IP</label>
                    <div class="col-md-9">
                        <input type="text" name="outer_ip" maxlength="128" class="form-control" placeholder="外部IP" title="* required" required id="outer_ip" />
                    </div>
                </div>
    
                <div class="form-group">
                    <label class="col-md-2 control-label" for="cabinet_id">所在机柜</label>
                    <div class="col-md-9">
                       <select name="cabinet_id" class="form-control" title="" id="cabinet_id">
                        {% for cabinet in cabinets %}
                            <option value="{{ cabinet.id }}">{{ cabinet.name }}</option>
                        {% endfor %}
                    </select> 
                    </div>
                </div>
      
		<div class="form-group">
                    <label class="col-md-2 control-label" for="op">负责人</label>
                    <div class="col-md-9">
                        <input type="text" name="op" maxlength="128" class="form-control" placeholder="负责人" title="* required" required id="op" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="phone">联系电话</label>
                    <div class="col-md-9">
                        <input type="text" name="phone" maxlength="128" class="form-control" placeholder="联系电话" title="* required" required id="phone" />
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" type="reset">重置</a>
                        <a id="addbtn" class="btn btn-primary">提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('#addbtn').on('click',function(){
        var str = $('#addServerForm').serialize()
        $.post("/add_server",str,function(data){
            data = JSON.parse(data)
            console.log(data)
            if (data['code'] == '0'){
                swal({
                    title:"创建成功",
                    type:"success",
                    confirmButtonText:"OK"},function(){
                        location.href="/server"
                    })
            }else{
                swal({
                    title:"创建失败",
                    type:"error",
                    confirmButtonText:"退出"
                }) 
            }
        })
        return false
    })
})
</script>
{% endblock %}
