{% extends "base.html" %}
{% block breadcrumb %}
创建服务器
{% endblock %}

{% block main %}

<div class="col-sm-12">
    <div class="ibox-content">
        <div class="" id="content_start">
            <form id="addUserForm" method="post" class="form-horizontal" action="">
                <h3>基本</h3>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="srv_hostname">主机名</label>
                    <div class="col-md-9">
                        <input type="text" name="srv_hostname" maxlength="128" class="form-control" placeholder="主机名" title="* required" required id="srv_hostname" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label" for="srv_outerip">外部IP</label>
                    <div class="col-md-9">
                        <input type="text" name="srv_outerip" maxlength="128" class="form-control" placeholder="外部IP" title="* required" required id="srv_outerip" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="srv_interip">内部IP</label>
                    <div class="col-md-9">
                        <input type="text" name="srv_interip" maxlength="128" class="form-control" placeholder="内部IP" title="* required" required id="srv_interip" />
                    </div>
                </div>
    
                <div class="form-group">
                    <label class="col-md-2 control-label" for="cab_id">所在机柜</label>
                    <div class="col-md-9">
                        <input type="text" name="cab_id" maxlength="128" class="form-control" placeholder="所在机柜" title="* required" required id="cab_id" />
                    </div>
                </div>
     
		<div class="form-group">
                    <label class="col-md-2 control-label" for="srv_admin">负责人</label>
                    <div class="col-md-9">
                        <input type="text" name="srv_admin" maxlength="128" class="form-control" placeholder="负责人" title="* required" required id="srv_admin" />
                    </div>
                </div>
 
		<div class="form-group">
                    <label class="col-md-2 control-label" for="srv_mobile">联系电话</label>
                    <div class="col-md-9">
                        <input type="text" name="srv_mobile" maxlength="128" class="form-control" placeholder="联系电话" title="* required" required id="srv_mobile" />
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" type="reset">重置</a>
                        <a id="addbtn" class="btn btn-primary">提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('#addbtn').on('click',function(){
        var str = $('#addUserForm').serialize()
        $.post("/add_user",str,function(data){
            data = JSON.parse(data)
            console.log(data)
            if (data['code'] == 0){
                alert(data['errmsg'])
                location.href="/userlist"
            }else{
                alert(data['errmsg'])
                location.reload()
            }
        })
        return false
    })
})
</script>
{% endblock %}
