{% extends "base.html" %}
{% block breadcrumb %}
机房管理
{% endblock %}

{% block main %}

<div class="col-sm-12">
{% if info['role'] == "admin" %}<a href="/add_idc" class="btn btn-sm btn-primary"> 创建配置项 </a>{% endif %}
<table class="table table-striped table-bordered table-hover " id="idc_list_table" >
    <thead>
        <tr>
            <th class="text-center">编号</th>
            <th class="text-center">机房名</th>
            <th class="text-center">中文名</th>
            <th class="text-center">地址</th>
            <th class="text-center">联系人</th>
            <th class="text-center">联系电话</th>
            <th class="text-center">机柜数量</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        {% for idc in data %}
	    <tr role="row" class="odd"> 
	        <td class="text-center">{{ idc.id }}</td>
	    	<td class="text-center">{{ idc.name }}</td>
	        <td class="text-center">{{ idc.name_cn }}</td>
	        <td class="text-center">{{ idc.address }}</td>
	    	<td class="text-center">{{ idc.admin }}</td>
	        <td class="text-center">{{ idc.phone }}</td>
	        <td class="text-center">{{ idc.num }}</td>
	    	<td class="text-center">
	            <a data-id="{{ idc.id }}" class="btn btn-xs btn-info update">编辑</a>
	            {% if info['role'] == "admin" %}<a data-id="{{ idc.id }}" class="btn btn-xs btn-danger del">删除</a>{% endif %}
	    	</td>
	    </tr>
	{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block modal %}
<!--更新模态框-->
<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">删除配置项</h4>
      </div>
      <div class="modal-body">
        <p>是否删除该配置项?</p>
      </div>
      <div class="modal-footer">
        <button id="cancel_modal_btn" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="confirm_modal_btn" type="button" class="btn btn-primary">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

