<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>Jumpserver</title>
    <link rel="shortcut icon" href="/static/img/facio.ico" type="image/x-icon">
    

<!-- css file -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/plugins/vaildator/jquery.validator.css" rel="stylesheet">
<link href="/static/css/plugins/datatables/datatables.min.css" rel="stylesheet">
<!-- scripts -->
<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/datatables/datatables.min.js"></script>
    <link href="/static/css/jumpserver.css" rel="stylesheet">
     
</head>

<body>

<!--整体页面的div -->
<div id="wrapper">
    <!--左边部分-->
    <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            
<!--左边头像部分-->
<li class="nav-header">
    <div class="dropdown profile-element">
        <div href="http://www.jumpserver.org" target="_blank">
            <img alt="logo" height="55" width="185" src="/static/img/logo-text.png" style="margin-left: 20px"/>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="logo-element">
        <img alt="image" height="40" src="/static/img/logo.png"/>
    </div>
</li><!--左边头像部分-->

                
<li id="index"><!--index-->
    <a href="/">
        <i class="fa fa-dashboard" style="width: 14px"></i> <span class="nav-label">仪表盘</span><span
            class="label label-info pull-right"></span>
    </a>
</li><!--index-->
<li id="users"><!--users-->
    <a href="#">
        <i class="fa fa-group" style="width: 14px"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level active">
        <li id="user"><a href="/index">个人中心</a></li>
        <li id="userlist"><a href="/userlist">用户列表</a></li>
    </ul>
</li><!--users-->
<li id="assets"><!--assets-->
    <a>
        <i class="fa fa-inbox" style="width: 14px"></i> <span class="nav-label">资产管理</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="idc"><a href="/idc">机房管理</a></li>
        <li id="cabinet"><a href="/cabinet">机柜管理</a></li>
        <li id="server"><a href="/server">服务器管理</a></li>
    </ul>
</li><!--assets-->
<li id="perms"><!--perms-->
    <a href="#"><i class="fa fa-edit" style="width: 14px"></i> <span class="nav-label">权限管理</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li id="asset-permission">
            <a href="/perms/asset-permission">资产授权</a>
        </li>
    </ul>
</li><!--perms-->
<li id="terminal"><!--terminal-->
    <a>
        <i class="fa fa-rocket" style="width: 14px"></i> <span class="nav-label">会话管理</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="session-online"><a href="/terminal/session-online/">在线会话</a></li>
        <li id="session-offline"><a href="/terminal/session-offline/">历史会话</a></li>
        <li id="command"><a href="/terminal/command/">命令记录</a></li>
        <li>
            <a href="/terminal/web-terminal/" target="_blank">
            <span class="nav-label">Web终端</span>
            </a>
        </li>
        <li id="terminal"><a href="/terminal/terminal/">终端管理</a></li>
    </ul>
</li><!--terminal-->
<li id="ops"><!--ops-->
    <a>
        <i class="fa fa-coffee" style="width: 14px"></i> <span class="nav-label">作业中心</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="task"><a href="/ops/task/">任务列表</a></li>
    </ul>
</li><!--terminal-->

<li id="settings"><!--settings-->
    <a href="/settings/">
        <i class="fa fa-gears"></i> <span class="nav-label">系统设置</span><span class="label label-info pull-right"></span>
    </a>
</li><!--settings-->
            
        </ul>
    </div>
</nav><!--左边部分结束-->

    <!--右边整体的div-->
    <div id="page-wrapper" class="gray-bg">
        
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <!--<form role="search" class="navbar-form-custom" method="get" action="">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" placeholder="搜索..." class="form-control" name="search" id="top-search">-->
                <!--</div>-->
            <!--</form>-->
        </div>
        <ul class="nav navbar-top-links navbar-right">



            <li class="dropdown">
                <a class="count-info" href="https://market.aliyun.com/products/53690006/cmgj026011.html?spm=5176.730005.0.0.cY2io1" target="_blank">
                    <span class="m-r-sm text-muted welcome-message">商业支持</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="count-info"  href="http://docs.jumpserver.org/" target="_blank">
                     <span class="m-r-sm text-muted welcome-message">文档</span>
                </a>
            </li>
            <li class="dropdown">
                
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="m-r-sm text-muted welcome-message">
                        <img alt="image" class="img-circle" width="30" height="30" src="/static/img/avatar/admin.png"/>
                        <span style="font-size: 13px;font-weight: 400"> Administrator
                            <b class="caret"></b>
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs profile-dropdown">
                    <li><a href="/users/profile/"><i class="fa fa-cogs"> </i><span> 个人信息</span></a></li>
                    
                        
                            <li><a id="switch_user"><i class="fa fa-exchange"></i><span> 用户页面</span></a></li>
                        
                    
                    <li><a href="/users/logout"><i class="fa fa-sign-out"></i> 注销登录</a></li>
                </ul>
                
            </li>
        </ul>
    </nav>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="">仪表盘</a>
            </li>
            <li>
                <a href="">
		{% block breadcrumb %}
		{% endblock %}
		</a>
            </li>

            
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>

        
<div class="wrapper wrapper-content">
        <div class="row">
                <div class="col-sm-12 white-bg dashboard-header" id="top10" style="margin-left: 15px;height: 800px;padding: 15px 0 15px 0;">
			<h2>
				{% block main %}
				{% endblock %}
			</h2>
		</div>
        </div>
    </div><!--content-->
    <br/>

    

        <div class="footer fixed">
    <div class="pull-right">
        Version <strong>1.0.0-76
</strong> GPLv2.
        <img style="display: none" src="http://www.jumpserver.org/img/evaluate_avatar1.jpg">
    </div>
    <div>
        <strong>Copyright</strong> 北京堆栈科技有限公司 &copy; 2014-2018
    </div>
</div>
    </div><!--page-wrapper-->
</div><!--wrapper-->

</body>


<!-- Mainly scripts -->
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/plugins/toastr/toastr.min.js"></script>
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/jumpserver.js"></script>
<script src="/static/js/plugins/echarts/echarts.js"></script>


</html>

