<table border='1'
<tr>
    <td>用户名</td>
    <td>密码</td>
</tr>
{% for user,passwd in ulist.items() %}
<tr>
    <td>{{ user }}</td>
    <td>{{ passwd }}</td>
</tr>
{% endfor %}
</table>

Add User:
<form>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="subscribe">
</form>

Delete User:
<form>
    <input type="text" name="username" placeholder="username">
    <input type="submit" name="subscribe">
</form>
